@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body{
    font-family: "Walter Turncoat", cursive;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background: rgb(22, 22, 22);    
    background-image: url("noita-digital-MdmcpX2ofRk-unsplash (1).jpg");
    background-attachment:fixed;
    background-size: 100%;
    background-blend-mode: hard-light;
}

h1, h3{
    display: flex;
    justify-content: center;
    margin: 0px;
}
 h1{
    margin-top: 20px;
    font-size: 5em;
 }

 h3{
    font-size: 2em;
 }

button {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    font-family: "Walter Turncoat", cursive;
    font-size: 3em;
    border: 5px solid white;
    color: white;
    background: none;
    cursor: pointer;
}

#container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 80px;
    left: 0%;
    
}

#board{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.cell{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(255, 255, 255);
    background: none;
    margin: 10px;
    cursor: pointer;
    font-size: 90px;
    text-align: center;
    line-height: 100px;
    transition: all ease 0.2s;
}

.cell:hover{
    transform: scale(105%);

}

#result {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}

@keyframes flash {
    10%{opacity: 0;}
    19%{opacity: 0;}
    20%{opacity: 1;}
    29%{opacity: 1;}
    30%{opacity: 0;}
    39%{opacity: 0;}
    40%{opacity: 1;}
    49%{opacity: 1;}
    50%{opacity: 0;}
    59%{opacity: 0;}
    60%{opacity: 1;}
}